body {
	background: rosybrown;
}

#content {
	
}

table#manage {
	width:50%;
	border: 1px solid black;
	border-collapse: collapse;

}
table#manage tr{
	border-bottom: 1px dotted black;
	padding: 5px 0;
}

table#manage th, table#manage td {
	width: 25%;
	padding: 5px 0;
	
}

table#manage th {
	background:orange;
	text-align: left;
}




