/* user form */

fieldset {
	background: darkkhaki;
	margin: 10px;
	padding: 10px;
} 

fieldset ul {
	list-style-type: none;
}

fieldset ul li {
	margin: 0 0 10px 0;
}

legend {
	border: 1px solid black;
	padding: 0 5px;
}

label {
	background: darkcyan;
	color: white;
	width:100px;
	display: inline-block;
	margin: 0 10px 0 0;
}

input, textarea {
  border  : none;
  padding : 0 10px;
  background: brown;
  color: white;
}



p#errors 
{
	color: red;
	
}
