* 
{
	margin:0;
	padding:0;
	font: Verdana, sans-serif;
}


body 
{
	background: grey;
}

@font-face 
{
	font-family: "phreestyle";
  	src: url(../fonts/Beware.ttf) format("truetype");
  }
	
/*
image borders == none
*/
img 
{
	border: 0;
}

/*
default link styles
*/
a,
a:link 
a:active 
{
   text-decoration: underline;
   background-color: inherit; 
   color: black; 
}

a:visited 
{
   text-decoration: underline;
   background-color: inherit;
  color: black;                
}

/* remove underline on hover and change background and color */
a:hover 
{
   text-decoration: none;
   background-color: #999900;
   color: #E92;
}

/* Global floats */
.left 
{
   float:left;
	 margin: 0 10px 0 0;
}

.right 
{
   float:right;
	 margin: 0 0 0 10px;
}

.clear 
{
clear:both;
}

